# Node.js
node_modules/
npm-debug.log*
yarn-error.log*


# Logs
logs
*.log
*.log.*

# Env Files
.env
.env.local
.env.development
.env.production
.env.test

# Directorios del Sistema
.DS_Store
Thumbs.db

# Editor de Texto
.vscode/
.idea/
*.swp
